@import 'scss/vars.css';
@import 'tailwindcss';

@layer utilities {
  .font-pop {
    font-family: var(--font-pop);
  }

  .font-rob {
    font-family: var(--font-rob);
  }

  .font-jan {
    font-family: var(--font-jan);
  }
}

body.dragging {
  cursor: grabbing;
  user-select: none;

  * {
    cursor: grabbing;
  }
}
